#esempio{
    width: 300px;   /*content*/
    padding: 50px; /*outside of content*/
    border: 15px solid green; /*outside of padding*/
    margin: 20px; /*outside of border*/
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: #b7e3e4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.navbar{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.navbar a:link,.navbar a:visited{
    background-color: #f03f35;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.navbar a:hover,.navbar a:active{
    background-color: red;
}

#container{
    width: 66%;
    padding: 50px;
    border: 2px solid rgba(18, 18, 18, 0.136);
    min-height: 500px;
    margin: auto;
}

.main #text{
    color: #f03f35;
    text-align: left;
    margin: auto;
    flex: 1;
}

.main #photo{
    flex: 1;
}

@media (min-width: 700px ){
    .main{
        display: flex;
    }

    .about .line{
        display: flex;
    }


}

@media (max-width: 700px){
    .about #text p{
        text-align: justify;
    }
}

.main #photo img{
    max-width: 100%;
}

.contact{
    -webkit-text-fill-color: #f03f35;
    text-align: left;
}
.contact .tabs div{
    margin-top: 25px;
}
.contact a{
    text-decoration: none;
    color:#f03f35 ;
}

.contact ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact ul li{
    margin: 3px;
}

.about {
    margin: auto;
}



.about #text{
    flex: 1;
    text-align: left;
}

.about #text h2{
    color: #f03f35;
}

.about #media{
    width: 100%;
    flex: 1;
}

.about #media img{
    max-width: 80%;
    margin: auto;
}

